   
  .react-responsive-modal-root{
    position: absolute;
    width: 70%;
    height: 70%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
 .button{
    height: 75%;
   
  }
  .button img{
    
      flex: 1 1;
      display: flex;
      width: 557px;
  
  }