.app__about {
    position: relative;
    width: 100%;
    height: 923px;
    background: url("../../assets/bg.png");
   display: flex;
}

.app__aboutus-content{
   display: flex;
    flex: 1;
    width: 100%;
}


.app__about-img {
    display: flex;
    left: 899px;
    top: 380px;
    background-size: contain;
    background-position-y: 4px;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.app__about-img img{
    width: 287px;
    height: 209px;
}
.app__about-img-Ellipse{
   
    display: flex;
    width: 275px;
    height: 47px;
    left: 764px;
    top: 532px;
    border-radius: 50%;
    background: rgba(148, 148, 148, 0.28);
    mix-blend-mode: exclusion;
    border: 44px solid rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}



.app__aboutus-content_about {
  
    display: flex;
    align-items: center;
    text-align: left;
    flex: 1 1;
    flex-direction: column;
    justify-content: center;
    padding: 0rem 5rem;

}






.app__aboutus-content_history {
    display: flex;
    align-items: center;
    text-align: left;
    flex: 1 1;
    flex-direction: column;
    justify-content: center;
    padding: 0rem 5rem;
}

.app__aboutus-content_about p,
.app__aboutus-content_history p {
    margin: 2rem 0;
    color: var(--color-grey);
}
.app__about-content-info{
    position: relative;
    background-color: black;
    z-index: 90;
}
.app__about-button{
    position: relative;
    width: 162px;
    height: 38px; 
    top: -3px;
    color :white;
    background: linear-gradient(90deg, #514747 0%, #90B149 100%);
    box-shadow: 0px 12px 4px rgba(0, 0, 0, 0.25);
    border-radius: 9px;
    transition: width 0.5s;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}
.app__about-button:after {
    content: "";
    background: #90EE90;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
  }
  
  .app__about-button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
  }
@media screen and (min-width: 2000px) {
  

    .app__aboutus-content_about p,
    .app__aboutus-content_history p {
        margin: 4rem 0;
    }
}

@media screen and (max-width:1150px) {
    .app__aboutus-content {
        flex-direction: column;
    }
   
    .app__aboutus-content_knife {
        margin: 4rem 0;
    }
}

@media screen and (max-width: 750px) {
    .app__aboutus{
        
       padding: 0;
      
       

    }
    .app__aboutus-overlay {
        height: 100vh;
        display: flex;
    }
    .app__aboutus-overlay img {
        width: 80%;
        height: 320px;
    }
    .app__aboutus-content{
        width: 100vw;
        height: 100vh;
    }
    .app__aboutus{
        margin: 0;
    }
}
@media screen and (max-width: 500px) {
.app__about-img img {
    width: 163px;
    height: 136px;
    margin-top: 66px;
}
}