.app__aboutus {
    position: absolute;
    width: 100vw;
    height: 923px;
    left: 2px;
    top: 1019px;
    background: url("../../assets/bg.png");
   
}



.app__aboutus-img {
    position: absolute;
    width: 258px;
    height: 267px;
    left: 899px;
    top: 380px;
    background: url("../../assets/ball.png");
    background-size: contain;
    background-position-y: 4px;
}
.app__about-img-Ellipse{
    position: absolute;
    width: 327px;
    height: 43px;
    left: 869px;
    top: 591px;
    border-radius: 50%;
    background: rgba(148, 148, 148, 0.28);
    mix-blend-mode: exclusion;
    border: 44px solid rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

/*.app__aboutus-content {
    width: 100vw;
    height: 100vh;
    z-index: 2;
}

.app__aboutus-content_about {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    text-align: left;
}

.app__aboutus-content_knife {
    margin: 2rem 4rem;
}

.app__aboutus-content_knife img {
  
    width: 350px;
    height: 333px;
} */

.app__aboutus-content_history {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    text-align: left;
}

.app__aboutus-content_about p,
.app__aboutus-content_history p {
    margin: 2rem 0;
    color: var(--color-grey);
}

@media screen and (min-width: 2000px) {
  

    .app__aboutus-content_about p,
    .app__aboutus-content_history p {
        margin: 4rem 0;
    }
}

@media screen and (max-width:1150px) {
    .app__aboutus-content {
        flex-direction: column;
    }
   
    .app__aboutus-content_knife {
        margin: 4rem 0;
    }
}

@media screen and (max-width: 750px) {
    .app__aboutus{
        
       padding: 0;
      
       

    }
    .app__aboutus-overlay {
        height: 100vh;
        display: flex;
    }
    .app__aboutus-overlay img {
        width: 80%;
        height: 320px;
    }
    ..app__aboutus-content{
        width: 100vw;
        height: 100vh;
    }
    .app__aboutus{
        margin: 0;
    }
}