.app__header{
display: flex;
flex: 1;
width:100vw;
height:100vh;
left: 0px;
width: 100vw;
left: 2px;
position: relative;
top: 79px;
background: linear-gradient(180deg, #CBC4C4 49.42%, #FFFFFF 72.28%, #FFFFFF 87.3%);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
overflow: hidden;
}
.app__header-container{
    width: 100%;
    flex:1;
    padding: 10rem;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;

}
.app__header-container-tiltle{


height: 347px;
filter: drop-shadow(53px 36px 12px rgba(0, 0, 0, 0.44));
display: flex;
flex: 1;
flex-direction: column;
align-items: center;
justify-content: space-evenly;
}



.app__header-container-img{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.app__header-title1 {
left: 72px;
top: 257px;
font-family: 'Tajawal';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 58px;
display: flex;
align-items: center;
text-align: center;
justify-content: center;
color: #f2f546;

text-shadow: 16px 18px 4px rgba(0, 0, 0, 0.25);
}
.app__header-title2{
   
    left: 32px;
    top: 537px;
    font-family: var( --font-base);
    color: var( --color-golden);
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 58px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #1b550f;
    text-shadow: 16px 18px 4px rgba(0, 0, 0, 0.25);
    }
    
    @media screen and (max-width: 1050px) {
       
      
      
      }
      
      @media screen and (max-width: 750px) {
     .app__header-container-tiltle{
        justify-content: space-evenly;
     }
       .app__header-title1{
           font-size: 30px;
       }
       .app__header-title2{
        font-size: 30px;
    }
        .app__header-container{
            flex-direction: column;
            padding: 0;
        }
        .app__header-container-img img{
            width: 260px;
            height: 225px;
        }
      }
      
      @media screen and (max-width: 550px) {
          

          .app__header-title1  .app__header-title2{
           
        
            font-size: 20px;
        }
        .app__header-container-img img{
            width: 215px;
            height: 193px;
        }
       
      
      }
      